html {
    padding: 0;
    margin: 0 auto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    min-width: 320px
}

body {
    box-sizing: border-box;
}

#top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navbar-nav {
    padding: 35px;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    list-style-type: none;
}

.navigation a {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    text-decoration: none;
    border: 1px solid;
}

#home {
    max-width: 1100px;
    margin: 0 auto;
    background-image: url(../img/peopleatwork.jpg);
    height: 100%;
    padding: 200px;
    background-size: cover;
    background-position: 50%;
}

.text-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 100px;
    padding: 0 0 200px 0;
    
}

.text-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    font-size: 36px;
    letter-spacing: 5px;
    padding: 70px 0 0 0; 
}    

hr {
    width: 200px;
    
 }
    
img.width-img {
    width: 500px;
    height:450px;
}
    


.figure-img-text{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
}

.strong-text{
    font-family:sans-serif;
    font-size:31px;
    font-weight:600;
}




#join {
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-image: url("../img/Road_at_the_dark.jpg");
}

#contact {
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-image: url('../img/shinyforest.jpg');
}

#follow img {
    background-image: url('../img/bluesky.jpg');
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 100vh;
}

#why img {
    background-image: url('../img/background.png');
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 100vh;
}