html {
    padding: 0;
    margin: 0 auto;
    min-width: 320px
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    min-width: 320px
}

body {
    box-sizing: border-box;
}

#top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navbar-nav {
    padding: 35px;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    list-style-type: none;
}

.navigation a {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    text-decoration: none;
    border: 1px solid;
}

#home {
    max-width: 1100px;
    margin: 0 auto;
    background-image: url(../img/peopleatwork.jpg);
    height: 100%;
    padding: 200px;
    background-size: cover;
    background-position: 50%;
}

.text-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 100px;
    padding: 0 0 200px 0;
    
}

.text-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    font-size: 36px;
    letter-spacing: 5px;
    padding: 70px 0 0 0; 
}    

hr {
    width: 200px;
}

#steve img {
    width: 100%;
    margin-top: 18px;
}

.figure-img-text > div {
    width: 40%;
    min-width: 250px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    margin-top: 80px;
    

}
.figure-img-text {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

@media (max-width: 510px) {
    #steve {
        width: 100%;
        margin: 0;
    }
}


#obama img {
    width: 100%;
    margin-top: 18px;
}
.figure-img-text-obama > div {
    width: 40%;
    min-width: 250px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    margin-top: 100px;
}
.figure-img-text-obama {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 510px) {
    #obama {
        width: 100%;
        margin: 0;
    }
}

#why {
    
    background-size: cover;
    max-width: 100%;
    
    text-colur: 
    height: 100%;
    padding: 200px;
    background-size: cover;
    background-position: 50%;
    margin: 0 auto;
}


h3 {
    display:flex;
    justify-content:center;
    margin-top: 100px;
}     
    

#why-list {
    display:flex;
    justify-content:center;
    flex-direction: column;
    
    
}

 #join {
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-image: url("../img/Road_at_the_dark.jpg");
}

#contact {
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-image: url('../img/shinyforest.jpg');
}

#follow {
    background-image: url('../img/bluesky.jpg');
    background-size: cover;
}


.footer {
    display:flex;
    justify-content:space-around;
}

.footer img {
    height: 25px;    
    
}

.text-why-list {
    text-align: center;
        display: block;
        margin-bottom: 50px;
}


#contact {
    background-size: cover;
    background-image: url('../img/shinyforest.jpg');
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form {
    margin-top: 50px;
    text-align: center;
    width: 340px;
    box-sizing: border-box;
    margin: auto;
    border-radius: 5px;
    background: #FFF;
}

.form_header {
    font-size: 30px;
    color: gray;
    font-weight: bold;
    padding-top: 45px;
}

.form_content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.form_row > * {
    margin: 5px 0;
}

.form_row > input, textarea {
    background: #eeeeee;
    width: 70%;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
}

.form_footer{
    padding-bottom: 15px;
}

.form_row_btn > button {
    width: 80%;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background: blue;
}

.form_row_btn > button:hover {
     background: #2cb167;
}

.form_row_btn > button:active {
    box-shadow: 0px 0px 1px 0 rgba(0,0,0,.2);
}

.form_row_link {
    padding-top: 15px;
}

.form_row_link > a {
    color: darkblue;
}

#follow {
    width: 100%;
    height: auto;
    margin:  0 auto;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.follow-title {
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.separator {
    margin-bottom: 40px;
}

.follow-image-bg {
    width: 100%;
    height: auto;
    background: url('../img/bluesky.jpg');
    /* background-repeat: no-repeat; */
}




    


.follow-image-item {
    display: inline-block;
}

.follow-image-item > img {
    width: 50px;
    height: 50px;
}